div.box{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    
}
div.imgbox{
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
}
div.open-card{
    
    transform: rotateY(50deg);
}
h1.bdaytitle{
    color: red;
    text-align: center;
}