body{
    background-color: lightgray;
}
div.box{
    background-color: gray;
    width: 1000px;
    height: 250px;
    margin: auto;
    
}
div.innerBox{
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
}
input.button{
    color: white;
    background-color: blue;
}
